name: Homelab Deploy ( the-great-library )
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: |
          docker build -t server-observer-utility:${{ github.run_number }} .

      - name: Deploy Docker Image
        run: |
          docker rm -f server-observer-utility || true
          docker run -d --name server-observer-utility \
            --restart=always \
            -p 8080:80 \
            --add-host=host.docker.internal:host-gateway \
            server-observer-utility:${{ github.run_number }}

      - name: Cleanup old docker images but keep last
        run: |
          docker images server-observer-utility
          docker images server-observer-utility --format "{{.Tag}}" | sort -n | head -n -1 | xargs -I {} docker rmi server-observer-utility:{}
